extends layout

block content
  div#header
  div#searchpanel
  div#originchooser(title='Enter a location')
    p Choose a city near Chattanooga
    input#origin
    button#sortbydrivedist Go
  br
  div#parkstable
  div.center
    div#updates
  div#footer

  script.
    $(function() {
      new RunChattanoogaPage('Parks');
    });
