doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin' rel='stylesheet')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='stylesheets/stylesheet.css')
    link(rel='stylesheet' type='text/css' href='stylesheets/jquery-ui-1.10.3.custom.min.css')
    if isQA
      script(src='javascripts/jquery-1.10.1.min.js' type='text/javascript')
      script(src='javascripts/jquery-ui-1.10.3.custom.min.js' type='text/javascript')
      script(src='javascripts/moment.min.js' type='text/javascript')
      script(src='javascripts/route-matrix.js' type='text/javascript')
      script(src='javascripts/content.js' type='text/javascript')
      script(src='javascripts/park-content.js' type='text/javascript')
      script(src='javascripts/util.js' type='text/javascript')
      script(src='javascripts/general.js' type='text/javascript')
      script(src='javascripts/parks.js' type='text/javascript')
      script(src='javascripts/place.js' type='text/javascript')
    else
      script(src='javascripts-min/combined.min.js' type='text/javascript')
  body
    block content
