extends layout

block content
	div.paper#links
		h3 Links
		each linkEntry in siteContent.linkCollection
			strong #{linkEntry.category}
			each link in linkEntry.links
				blockquote
					a(href=link.url,target='_blank') #{link.name}
					br
					!{link.description}