extends layout

block content
  div#header
  br
  div#infopanel
    div#placetitle
    div.section#notes
    div.section#description
    div.imgsection#photos
    div.imgsection#map
    div.section#directions
    div.section#moreinfo
  div#imageview
  div#footer

  script.
    $(function() {
      new RunChattanoogaPage('Trail');
    });
