extends layout

block content
  div#header
  div.columncontainer
    div#infopanel
      div#placetitle
      div.section#notes
      div.section#description
      div.imgsection#photos
      div.section#map
      div.section#directions
      div.section#moreinfo
    div.imageviewcontainer
      div#imageview
  div#footer

  script.
    $(function() {
      new RunChattanoogaPage('Trail');
    });
